<h1><%= @employee.first_name %> <%= @employee.last_name %></h1>
<h1><%= @employee.alias %></h1>
<h1><%= @employee.title %></h1>
<h1><%= @employee.office %></h1>
<img src="<%= @employee.img_url %>"/>
<ul>
<% @employee.dogs.each do |dog| %>
  <li><%= dog.name %></li>

<% end  %>
</ul>

<%= button_to "delete", @employee, :method => :delete %>
