<!DOCTYPE html>
<html>
  <head>
    <title>StudentLister</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.co m/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  </head>
  <div class="navbar">
  <div class="ui sticky teal three item inverted menu">
    <a href="/" class="item">
      <h1>Student Lister</h1>
    </a>
      <div class="right menu">
        <% if logged_in? %>
          <%= link_to 'Create a New Student', new_student_path, {class: 'item'} %>
          <%= link_to 'Logout', logout_path, {class: 'item'} %>
        <% else %>
          <%= link_to 'Login', login_path,{class: 'item'}%>
        <% end %>
      </div>
    </div>
</div>
  <body>
    <div class="ui centered grid ">
      <div class="eight wide column">

        <%= yield %>

      </div>
    </div>
  </body>
</html>
